body {

  /* Typography */
  font-family: 'Lato', sans-serif;  
  font-size: 16px;
  line-height: 1;
}

h1 {

  /* Typography */
  font-family: 'Cormorant Garamond', serif;
}

textarea { 

  /* Box-Model */
  border: none;
  border-left: 1px solid #1c0e0b;
  padding: 10px;

  /* Positioning */
  resize: none;

  /* Typography */
  color: #fcbe59;

  /* Aesthetic */
  background: transparent;
}

header {

  /* Positioning */
  height:0px;
}

h5 {

  /* Typography */
  font-size:14px;
}

.bkgd {

  /* Positioning */
  background-size:100%;
  background-repeat:no-repeat;
  background-position:center;
  min-width: 100%;
  min-height: 100%;
  position:fixed;
  z-index:0;
  
  /*Aesthetic */
  background-image: url("./assets/plate-1.jpg"); 
  opacity:0.7;
}

.display-3 {

  /* Box-Model */
  margin-top:30px;
  margin-left:50px;

  /* Positioning */
  z-index:1;

  /* Typography */
  font-size:50px;
  font-weight:500;
}

.lead {

  /* Box-Model */
  padding-top:70px;
  margin-left:580px;

  /* Positioning */
  z-index:1;

  /* Typography */
  font-weight:bold;
}

.container {

  /* Box-Model */
  margin-top:100px;
}

.description {

  /* Aesthetic */
  white-space: pre-wrap;
}

.time-block {

  /* Box-Model */
  border-radius: 15px;
}

.row {

  /* Box-Model */
  border-top: 1px solid white;

  /* Positioning */
  height: 80px;

  /* Aesthetic */
  white-space: pre-wrap;
  opacity:.8;
  background-color:white;
}

.col-md-1 {

  /* Typography */
  font-size: 25px;
  text-align:center;
  
}

.hour {

  /* Box-Model */
  padding-top:25px;

  /* Typography */
  color: #1c0e0b;

  /* Aesthetic */
  background-color:transparent; 
}


.past,
.present,
.future {

  /* Box-Model */
  border:2px solid #1c0e0b;
  border-radius:5px;
  margin-bottom:5px;

}

.past:hover,
.present:hover,
.future:hover,
textarea:hover {

  /* Aesthetic */
  opacity:0.9;
  transition-timing-function: ease-in;
  font-weight:bold;
}

.past {

  /* Typography */
  color: white;

  /* Aesthetic */
  background-color:#95a83d;
}

.present {

  /* Typography */
  color: white;

  /* Aesthetic */
  background-color:#ef4e08;
}

.future {

  /* Typography */
  color: white;

  /* Aesthetic */
  background-color:#fcbe59;
}

.saveBtn {

  /* Box-Model */
  border-left: 1px solid #1c0e0b;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  /* Positioning */
  height:76px;

  /* Typography */
  color: white;
  line-height:12px;

  /* Aesthetic */
  background-color: #1c0e0b;
}

.icon {

  /* Positioning */
  height:30px;
  width:30px;

}

.btn-text {

  /* Typography */
  font-size:12px;
}

.btn:hover {

  /* Aesthetic */
  color:white;
  font-weight:bold;
}



.saveBtn i:hover {

/* Typography */
  font-size: 20px;
}

.navbar {
    
  /* Box-Model */
  padding-right:55px;
}


/* Optimizing for mobile phones */ 

@media only screen and (max-width:425px) {

.display-3 {

  /* Typography */
  font-size:30px;
};

.lead {

  /* Box-Model */
  padding-top:0px;
  margin-right:0px;
}

.hour {

  /* Box-Model */
  padding-left:2px;

  /* Positioning */
  width:12%;

  /* Typography */
  font-size:15px;
  font-weight:bold;

  /* Aesthetic */
  background-color:white!important;
}

.description {

  /* Positioning */
  width:68%;
}

.saveBtn {

  /* Positioning */
  width:20%;
}

}